<div class="body">
	<div class="container">
		<p>
		  <strong>Image:</strong>
		  <% if @user.image? %>
		    <div class="thumbnail">
		      <%= image_tag @user.image.url %>
		    </div>
		  <% end %>
		</p>
		<sapn> <%= @user.name %> </sapn>
		<sapn> <%= @user.profile %> </sapn>


		<% if @user == current_user %>
		 <div><%= link_to '編集', edit_user_path(@user)%></div>
				<% end %>
		<div><%= link_to '一覧', users_path%></div>
<% if current_user != @user %>
  <span id="follow_form">
    <% if current_user.following?(@user) %>
      <%= render 'unfollow', user: @user %>
    <% else %>
      <%= render 'follow', user: @user %>
    <% end %>
  <% end %>
</span>
<% if current_user != @user %>
  <span id="follow_form">
    <% if current_user.following?(@user) %>
      <%= render 'unfollow', user: @user %>
    <% else %>
      <%= render 'follow', user: @user %>
    <% end %>
  </span>
<% end %>
<li>
  <i class="fa fa-comment"></i>
  <a href="#comments"><%= @user.post_comments.count %></a>
</li>
<div class="comment-list bt style-2" id="comments">
  <div class="float-wrapper">
    <h2 class="comment-count"><%= @user.post_comments.count %>件コメント</h2>
  </div>


<ol>
  <% @user.post_comments.each do |post_comment| %>
    <li class="comment">
      <div class="comment-body bb">
        <div class="comment-avatar">
        </div>
        <div class="comment-text">
          <div class="comment-author clearfix">
            <a href="#" class="link-author"><%= post_comment.user.name %></a>
            <span class="comment-meta">
              <span class="comment-date"><%= post_comment.created_at.strftime('%Y/%m/%d') %></span>
            </span>
          </div>
          <div class="comment-entry"><%= post_comment.comment %></div>
        </div>
      </div>
    </li>
  <% end %>
</ol>

<!-- <form class="mt-20"> -->
<%= form_for [@user, @post_comment] do |f| %>
  <div class="row">
    <div class="col-sm-12">
      <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
    </div>
  </div>
       <% if @post_comment.user == current_user %>
            <div>
              <%= link_to "削除", user_post_comment_path(post_comment.user, post_comment), method: :delete, class: "btn btn-danger pull-right" %>
            </div>
          <% end %>
  <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
<% end %>
<!-- </form> -->

<% if @user.favorited_by?(current_user) %>
<li>
  <%= link_to user_favorite_path(@user), method: :delete do %>
    <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
    <%= @user.favorites.count %> いいね
  <% end %>
</li>
<% else %>
<li>
  <%= link_to user_favorite_path(@user), method: :post do %>
    <i class="fa fa-heart-o" aria-hidden="true"></i>
    <%= @user.favorites.count %> いいね
  <% end %>
</li>
<% end %>

	</div>
</div>


