<!DOCTYPE html>
<html>
  <head>
    <title>Breake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- font awosme -->
    <script src="https://kit.fontawesome.com/f4a34d9917.js" crossorigin="anonymous"></script>
    <!--  スライド 　　　 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/f4a34d9917.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <span id="back">
      <a href="#">
        <%= image_tag asset_path("logo.png")%>

      </a>
    </span>
    <%= yield %>
  </body>
</html>
